// color 
$color1 : #0D6EFD;
$color2 : #D9D9D9;
$color3 : #FFFFFF;
$color4 : #F8F9FA;


// font size
$font : 1.1rem;
$title : 1.6rem;



* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: $font;
    background-color: $color4;
}

//logo puzzle
.fa-solid {
    color: $color1;
    font-size: 48px;
}

// bouton 
button {
    background-color: $color1;
    color: $color2;
    border-radius: 2px;
    border: none;
    max-height: 40px;
    min-width: 35px;
    font-size: $font;
}

.header {
    button {
        margin: 0px 5px;
        border-radius: 2px;
    }
}

.header {
    input {
        border: unset;
        border-radius: 2px;
        background-color: $color2;

        font-size: 18px;
        padding: 4px;

        &::placeholder {
            color: $color3 ;
        }

        &:focus {
            outline: none;
        }
    }
}

.section-form {

    input {
        border: unset;
        border-radius: 2px;
        background-color: $color2;

        width: 100%;
        font-size: 18px;
        padding: 4px;

        &::placeholder {
            color: $color3 ;
        }

        &:focus {
            outline: none;
        }
    }
}


textarea {
    background-color: $color2;
    border: unset;
    border-radius: 3px;
    padding: 1px 1px 1px 3px;
    font-size: $font;
    resize: none; //possibilité de resize le textarea non
    width: 100%;
    height: 150px;

    &:focus {
        outline: none;
    }

    // & placeholder = + l'attribut placeholder du selecteur précedent
    &::placeholder {
        color: $color4;
    }
}